streamlit==1.37.1
numpy==1.26.4
pydub==0.25.1
soundfile==0.12.1
librosa==0.10.2.post1
pretty_midi==0.2.10
requests==2.32.3

all-in-one-fix
demucs-infer==1.0.2

piper-tts==1.2.0

# ADTOF-based drum transcription (может не ставиться через pip в Cloud; см. README ниже)
adtof_plus_drum_transcription==0.1.0
